{% extends 'accounts/main_template.html' %}
{% block content %}
<br>
<div class = "row">
    <div class = "col-md">
        <div class = "card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Cuisine</th>
                    <th>Price</th>
                </tr>
                {% for i in products %}
							<tr>
								<td>{{i.pro_name}}</td>
								<td>{{i.cuisine}}</td>
								<td>{{i.pro_price}}</td>
							</tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}


