<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div style="background-color: #34ebcf;" class="card text-center text-black  mb-3" >
			  	<div class="card-header">
			  		<h5 class="card-title">Total Customers</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_customers}}</h3>
			  	</div>
			</div>
		</div>
	</div>


	<div class="col">
		<div class="col-md">
			<div style="background-color: #34ebcf;" class="card text-center text-black  mb-3">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div style="background-color: #34ebcf;" class="card text-center text-black  mb-3">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	</div>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div style="background-color: #34ebcf;" class="card text-center text-black  mb-3">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>

<div class="col">
		<div class="col-md">
			<div style="background-color: #34ebcf;" class="card text-center text-black  mb-3" >
			  	<div class="card-header">
			  		<h5 class="card-title">Out for Delivery</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{out_for_delivery}}</h3>
			  	</div>
			</div>
		</div>
	</div>

<div class="col">
		<div class="col-md">
			<div style="background-color: #34ebcf;" class="card text-center text-black  mb-3" >
			  	<div class="card-header">
			  		<h5 class="card-title">Cancelled</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{cancelled}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	</div>